@model List<MVC.Models.CustomerView>
@{
    ViewBag.Title = "Customer Page";
}

<main>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id Customer</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
       @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.ContactName</td>
                <td>@Html.ActionLink("Borrar", "Delete", new { id = customer.Id })</td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Insertar nuevo cliente", "Insert", "Customer")
    </div>
</main>