@model MVC.Models.CustomerView

@{
    ViewBag.Title = "Customer Page";
}

<main>
    <h1>Vista para insertar un nuevo cliente</h1>
</main>

@using (Html.BeginForm("Insert", "Customer", FormMethod.Post))
{ 
    <label>Contact Name:</label> @Html.TextBoxFor(c => c.ContactName)
    <input type="submit" value="Guardar"/>
}