<div class="h-screen mx-auto container">
  <div class="flex justify-between p-5">
    <h1 class="text-3xl">Category</h1>

    <div class="card flex justify-content-center">
      <button pButton pRipple label="Add Category" class="p-button-success" routerLink="/dashboard/new-category"></button>
    </div>
    </div>
  <p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.Id }}</td>
        <td>{{ category.CategoryName }}</td>
        <td>{{ category.Description }}</td>
        <td>{{ category.Image }}</td>
        <td>asd</td>
      </tr>
    </ng-template>
  </p-table>

</div>
