@model MVC.Models.CategoryView

@{
    ViewBag.Title = "Category Page";
}

<main>
    <h1>Vista para insertar un nueva categoria</h1>
</main>

@using (Html.BeginForm("Insert", "Category", FormMethod.Post))
{
    <label>Category Name:</label> @Html.TextBoxFor(c => c.CategoryName)
    <label>Category Description:</label> @Html.TextBoxFor(c => c.Description)
    <input type="submit" value="Guardar" />
}